body{
    font-family: 'Jost', sans-serif;
}
.font-14{
    font-size: 14px;
}
.font-24{
    font-size: 24px;
}

.modal-full {
    min-width: 20%;
    margin-left: 80;
}

.modal-full .modal-content {
    min-height: 100vh;
}